<div id="<%= dom_id paying_guest %>">
  <p>
    <strong>Paying guest:</strong>
    <%= paying_guest.paying_guest %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= paying_guest.address %>
  </p>

</div>
