<h1>Editing paying guest</h1>

<%= render "form", paying_guest: @paying_guest %>

<br>

<div>
  <%= link_to "Show this paying guest", @paying_guest %> |
  <%= link_to "Back to paying guests", paying_guests_path %>
</div>
